body {
    padding: 100px;
}


/* first page  */

.log-in {
    padding: 50px;
    box-shadow: 4px 4px 10px gray;
    border-radius: 10px;
}


/* second page */

#transaction {
    display: none;
}


/* second page transaction display */

.doc {
    padding: 30px;
    border-radius: 10px;
}

.deposit {
    background-color: yellowgreen;
}

.withdraw {
    background-color: lightcoral;
}

.balance {
    background-color: orange;
}


/* final transaction */

#endTransaction {
    display: none;
}